@page "/budgetcycleitems/edit/{id}"
@page "/budgetcycleitems/create"

<h3 class="card-title">@Title</h3>
<hr />
<br />
@if (!IsSuccess)
{
    <ErrorMessage>"Somewthing Went Wrong With the Operation" </ErrorMessage>
}

@if (Model == null)
{
    <LoadingMessage Message="Loading..." />
}
else
{
<EditForm Model="Model" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="type">Budget Cycle</label>
        <InputSelect @bind-Value="Model.SelectedBudgetCycleId"
                     class="form-control" id="type">
            @foreach (var item in BudgetCycles)
                {
                <option @key="item.Id" value="@item.Id">@item.Name</option>
                }
        </InputSelect>
        <ValidationMessage For="@(() => Model.SelectedBudgetCycleId)" />
    </div>
    <div class="form-group">
        <label for="type">Budget Item</label>
        <InputSelect @bind-Value="Model.SelectedBudgetItemId"
                     class="form-control" id="type">
            @foreach (var item in BudgetItems)
                {
                <option @key="item.Id" value="@item.Id">@item.Name</option>
                }
        </InputSelect>
        <ValidationMessage For="@(() => Model.SelectedBudgetItemId)" />
    </div>
    <div class="form-group">
        <label for="amount">Amount</label>
        <InputNumber @bind-Value="Model.Amount" class="form-control" id="amount" />
        <ValidationMessage For="@(() => Model.Amount)" />
    </div>
    <button class="btn btn-primary" type="submit">
        <span class="oi oi-check"></span>
        Save
    </button>
    @if (ShowDeleteButton)
    {
        <a @onclick="Delete" class="btn btn-danger">
            <span class="oi oi-x"></span>
            Delete
        </a>
    }
    <a @onclick="Cancel" class="btn btn-outline-secondary">
        <span class="oi oi-delete"></span>
        Cancel
    </a>
</EditForm>

    @if (ShowDeleteDialog)
    {
        <AcceptRejectDialog Title="Delete" Message="Are you sure?" OnClose="OnDeleteClose"></AcceptRejectDialog>
    }
}
