@page "/registers/list"

<h3 class="card-title">Registers</h3>
<hr />

@if (Registers == null)
{
    <LoadingMessage Message="Loading..." />
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Starting Balance</th>
                <th>Cleared Balance</th>
                <th>Available Balance</th>
                <th>Ending Balance</th>
                <th>
                    <a href="/registers/create" class="btn btn-primary">
                        <span class="oi oi-plus"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Registers)
            {
                <tr @key="item.Id">
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.StartingBalance</td>
                    <td>@item.ClearedBalance</td>
                    <td>@item.AvailableBalance</td>
                    <td>@item.EndingBalance</td>
                    <td>
                        <a href="/registers/details/@item.Id" class="btn btn-primary">
                            <span class="oi oi-info"></span>
                        </a>
                        <a href="/registers/edit/@item.Id" class="btn btn-primary">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <a @onclick="@(() => Delete(item.Id))" class="btn btn-danger">
                            <span class="oi oi-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (ShowDeleteDialog)
    {
        <AcceptRejectDialog Title="Delete" Message="Are you sure?" OnClose="OnDeleteClose"></AcceptRejectDialog>
    }
}

